@use '../base/colors';
@use '../base/settings';
@use '../utils/mixins';

body, html, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: colors.$blanco;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 99.2vh;
  margin-left: 4px;
  margin-right: 4px;

   /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.box-header {
  /* Puedes definir un tamaño fijo o dejar que se ajuste al contenido */
  height: 60px; /* Ejemplo de altura fija para el header */
}


.box-body {
  margin-top: 17px;
  flex-grow: 1;
  display: flex; /* Activa Flexbox */
  gap: 5px; /* Espacio entre las columnas */
}

.bt1{
  background-color: colors.$color-5 !important;
  border-color: colors.$color-5 !important;
  color: colors.$blanco !important;
}


.sidebar {
  // border: 2px solid colors.$negro; // borde negro de 2px de ancho
  flex: 0 0 250px; /* Sidebar con un ancho fijo de 250px */
  background-color: colors.$color-2;  
  color: colors.$color-3;
  padding: 1rem; 
  overflow-y: auto;
  border-radius: 10px; // Esto redondea las esquinas
}

.content {
  opacity: 0.9; 
  // background-image: url(../../../public/fondo.png);
  flex: 1;
  background-color: colors.$color-4;
  background-size: cover;
  background-position: center;
  // border: 2px solid colors.$negro; // borde negro de 2px de ancho
  border-radius: 10px; // Esto redondea las esquinas
}
  
.navbar_container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background-color: colors.$color-5;  
  color: colors.$color-3;
  border-radius: 10px; // Esto redondea las esquinas
  height: 4rem;

  @include mixins.flex-center;

}

