@use '../base/colors';
@use '../utils/mixins';

.navbar_container {
  background-color: colors.$primary-color;
  color: colors.$background-color;
  padding: 1rem;

  @include mixins.flex-center;

  a {
    color: inherit;
    text-decoration: none;
    margin: 0 1rem;
  }
}
