.main-task{
  display: flex;
  flex-direction: column;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
}

.box-header {
  /* Puedes definir un tamaño fijo o dejar que se ajuste al contenido */
  height: 60px; /* Ejemplo de altura fija para el header */
}


.box-body {
  margin-top: 17px;
  flex-grow: 1;
  display: flex; /* Activa Flexbox */
  gap: 5px; /* Espacio entre las columnas */
}
